html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

:root {
  --main: #101828;
  --gray: #8e929a;
  --button: #3470ff;
  --button-hover: #0b44cd;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #ffffff;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  background: var(--badges);
  border-bottom: 1px solid var(--badges);
}

.btn {
  display: inline-block;
  border-radius: 12px;
  background-color: var(--button);
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  transition:
    transform 0.3s ease,
    background-color 0.3s;
}
.btn:hover {
  transform: scale(1.05);
  background-color: var(--button-hover);
}
