.contentBox {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 32px;
  padding-bottom: 40px;
}

.loadMore {
  display: block;
  margin: 40px auto;
  border-radius: 12px;
  padding: 12px 88px;
  border: 1px solid var(--button);
  background-color: transparent;
  transition:
    transform 0.3s ease,
    border 0.3s;
}

.loadMore:hover {
  transform: scale(1.05);
  border: 1px solid var(--button-hover);
}
